<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Running Data{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ELNQHHSLYS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ELNQHHSLYS');
</script>
<body>
<div class="chart-container">
    <h1>Monthly Distance Run</h1>
    <iframe src="{{ url_for('static', filename='charts/running_distance_chart.html') }}" width="100%" height="600"></iframe>
</div>

<div class="chart-container">
    <h1>Monthly Average Heart Rate</h1>
    <iframe src="{{ url_for('static', filename='charts/running_avg_hr_chart.html') }}" width="100%" height="600"></iframe>
</div>

<div class="chart-container">
    <h1>Monthly Average Pace</h1>
    <iframe src="{{ url_for('static', filename='charts/running_avg_pace_chart.html') }}" width="100%" height="600"></iframe>
</div>
</body>
</html>